<%- include('partials/header') %>

<main>
  <h1>Etudiants</h1>

  <div class="container">
    <ul>
      <% for (let student of students) { %>
        <li>
          <div class="student">
            <div class="title">
              <%=student.prenom%> <%=student.nom%>
            </div>
           <div class="buttons">
            <div class="button">
              <a href="parcours/<%=student.pseudo%>">
                Parcours
              </a>
            </div>
            <div class="button">
              <a href="https://github.com/O-clock-Nemo/S01-parcours-html-css-<%=student.pseudo%>">
                Depot
              </a>
            </div>
            <div class="button">
              <a href="https://github.com/O-clock-Nemo/S01-parcours-html-css-<%=student.pseudo%>/commits/master">
                Commits
              </a>
            </div>
          </div>
           </div>
        </li>
      <% } %>
    </ul>
  </div>


</main>

<%- include('partials/footer') %>
